@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);

/*Se usa modelo de caja para hacer un reset a todos los elemntos de la pagina*/
* {
	margin: 0;/* Espacio entre los elementos*/
	padding: 0;/* Espacio entre los contenidosy los margenes de su caja*/
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

header{
	width: 100%; /*ancho de elemento header*/
	height: 50px; /* largo del elemnto header*/
	background: #1195A8; /*333 color del fondo*/
	color: #fff; /*042328 fff color deltexto*/

	position: fixed; /*Para que este elemento permanezca fijo de todo ´tambien puede ser relative, absolute y static*/
	top: 0;
	left: 0;/* para que siempre este hasta arriba pegado a la izquierda*/
	z-index: 100; /* Para que aparezca por encima de todo */
}

.contenedor{
	width: 98%;
	margin: auto;
}

h1{
	float: left;
	
}

header .contenedor{
	display: table;
}

section{/*todos los section de la pagina que no tengan id*/
	width: 100%;
	margin-bottom: 25px;/*para que cuando haya mas contenido abajo lo empuje*/
}

#bienvenidos{
	text-align: center; 
}

/* ESTILOS DEL FOOTER */

footer .contenedor{
	text-align: center;
	display: inline-block;
	flex-wrap: 20px;
	justify-content: center;
	padding-bottom: 25px;
}

.copy {
	font-size: 1em;
}

.sociales{
	width: 100%;
	text-align: center;
	font-size: 20px;

}

.sociales a{
	color: #333;
	text-decoration: none;
}

#mapa{
	text-align: center;
	font-size: 1.5em;

}




/*Para redimensionar los contenedores a partir de las panallas de 1024 px*/
@media (min-width: 1024px){
	.contenedor{
		width: 1000px;
	}
}

@media (min-width: 768px){
	.sociales{
		width: auto;
	}
	footer .contenedor{
		justify-content: space-between;
	}
}

.retraso-1{
	-webkit-animation-delay:.5s;
	-moz-animation-delay:.5s;
	animation-delay: .5s; 
}

.retraso-2{
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	animation-delay:1s; 
}